/* General styles to improve presentation */
html, body {
  height: 100%;
}
.example {
  background-color: #fff;
  width: 70%;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto;
}
html, body {
  height: 100%;
}
body {
  padding:60px;
  margin:0 auto;
  color:#333;
  background-attachment: fixed;
  background: url(https://ak.picdn.net/shutterstock/videos/1012349138/thumb/1.jpg);
  background-size: cover;
}
.table {
  margin-bottom: 40px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.form-action-clear {
    display: none;
    cursor: pointer;
    pointer-events: all
}

.form-action-clear:before {
    color: #777777
}

.form-action-clear:hover:before {
    color: #333333
}

.has-feedback .form-action-clear {
    display: block
}